{% extends 'base.html' %}

{% block content %}

{% load static %}
  
  <!-- Main Container -->
  <section class="main-container col1-layout bounceInUp animated">
    <div class="main container">
      <div class="col-main">
        <div class="account-login">
          <div class="page-title">
            <h1> Change Your Password?</h1>
          </div>
          <!--page-title-->


          <form action="#" method="post" id="form-validate">
            <fieldset class="col2-set">
              <strong>Hello SuperB User Change Your Password?</strong>
              <br><br><br>

                {% csrf_token %}
                {{ form.as_p }}
             
              <!--content-->
              <p class="required">* Required Fields</p>
              <button type="submit" title="Submit" class="button submit"><span>Submit</span></button>
              <a href="{% url 'login' %}"><small>« </small>Back to Login</a>
            </fieldset>
            <!--col2-set-->
          </form>
        </div>
      </div>
      <!--col-main--> 
    </div>
  </section>
  <!-- Main Container End --> 
  
  {% endblock %}